@keyframes particleAnimationOne {
  from {
    left: -10px;
    top: -10px;
  }
  to {
    left: calc(100% + 20%);
    top: calc(100% + 50%);
  }
}

@keyframes particleAnimationTwo {
  from {
    left: -10px;
    top: -10px;
  }
  to {
    left: calc(100% + 10%);
    top: calc(100% - 30%);
  }
}

@keyframes particleAnimationThree {
  from {
    left: -10px;
    top: -10px;
  }
  to {
    left: calc(100% + 0%);
    top: calc(100% + 80%);
  }
}

.stars {
  position: fixed;
  left: 0px;
  top: 50px;
  width: 3px;
  height: 3px;
  background-color: white;
  position: fixed;

  z-index: 1;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100px;
    right: 3px;
    top: 0px;
    height: 3px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.4) 100%
    );
  }
}

.star-1 {
  animation: particleAnimationOne 12s linear infinite;
  transform: rotateZ(39deg);
}

.star-2 {
  animation: particleAnimationTwo 8s linear infinite;
  transform: rotateZ(24deg);
}

.star-3 {
  animation: particleAnimationThree 10s linear infinite;
  transform: rotateZ(45deg);
}
